<H2>
	<img src="../assets/images/stat.svg" width="30px" height="30px" />
  Statistiques sur l'activité Jacinte</H2>
<ul class="list-group">
  <li class="list-group-item active">Nb de lignes de code analysées par mois sur les 13 derniers mois glissants</li>
  <li class="list-group-item">
    <div id="columnChartAppByYear" style="min-width: 310px; max-width: 100%; height: 250px; margin: 0 auto"></div>  
  </li> 
  <li class="list-group-item">
    <div id="columnNbAppByMonth" style="min-width: 310px; max-width: 100%; height: 250px; margin: 0 auto"></div>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item active">Répartition des applications par Serveur</li>
  <li class="list-group-item">
    <div id="pieNbAppByServer" style="min-width: 310px; max-width: 100%; height: 250px; margin: 0 auto"></div>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item active">Répartition des applications par version AIP</li>
  <li class="list-group-item">
    <div id="columnNbAppByVersionAIP" style="min-width: 310px; max-width: 100%; height: 250px; margin: 0 auto"></div>  
  </li> 
</ul>
<ul class="list-group col-sm-4">
  <li class="list-group-item active">Répartition des applications par Techno</li>
  <li class="list-group-item">
    <div id="pieNbAppByTechno" style="min-width: 310px; max-width: 100%; height: 350px; margin: 0 auto"></div>
  </li>
</ul>



<ul class="col-sm-8 list-group">
    <li class="list-group-item active">Applications par Techno</li>
    <li class="list-group-item">
  <mat-form-field>
	<mat-label>Filter</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
	<ng-container matColumnDef="techno">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header> Techno </th>
      <td mat-cell *matCellDef="let element"> {{element.techno}} </td>
	</ng-container>

	<ng-container matColumnDef="nb">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Nb </th>
		<td mat-cell *matCellDef="let element"> {{element.nb}} </td>
	</ng-container>

	<ng-container matColumnDef="name">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header> Applications </th>
	  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>
  
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[3, 6, 9, 12]" showFirstLastButtons></mat-paginator>
</li>
</ul>

